.articleCard {
  margin: 15px;
  box-shadow: var(--box-shadow-slider);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  height: 250px;
  gap: 20px;

  h3 {
    margin-bottom: 0;
  }

  p {
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  picture {
    flex: 1 45%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  &__header {
    padding: 15px;
    flex: 1 60%;
  }
  &__title {
    color: var(--main);
  }
  &__date {
    color: var(--sub);
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__link {
    color: var(--main);
  }
}

@include small-tablet {
  .articleCard {
    display: flex;
    max-width: 500px;

    img {
      height: 100%;
      max-height: none;

    }

    &__header {


    }
  }

}


