.contacts {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    padding: 30px;
  }

  &__map {
    flex: 1 50%;
    padding: 30px;

    img {
      height: 100%;
      aspect-ratio: 2 / 3;
    }
  }

  &__checkbox-container {
  }

  &__checkbox {
    position: relative;
    margin-right: 5px;
  }

  &__checkbox-labe {
  }
}

@include tablet {
  .contacts {
    justify-content: center;

    &__form {
      max-width: 700px;

      h3, h2, p {
        text-align: center;
      }
    }
  }

  .contacts__map {
    display: none;
  }
}

// @include small-tablet {
//   .layout-content {
//     flex-direction: column;
//   }

//   .contacts {
//     &__form {

//       h3, h2, p {
//         text-align: center;
//       }
//     }
//   }

//   .contacts__map {
//     display: none;
//   }
// }
