.footer {
  margin-top: auto;
  color: var(--light-color);
    &__inner {
      padding: 15px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__text {
      flex: 1 100%;
    }

    &__text, &__link {
        color: var(--light-color);
        padding: 10px;
    }

    &__link {
        display: block;
        text-align: right;
        &:hover {
          color: var(--text);
        }
    }

    .social {
      display: flex;
      gap: 20px;
      font-size: 28px;
    }

    .social__link  {
      color: var(--light-color);
      transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__col {
      flex: 1 49%;
      margin-bottom: 40px;
    }

    .developer, &__text, .developer p {
      flex: 1 49%;
      font-size: 15px;
      margin: 0;
    }

    .developer {
      text-align: right;
    }
}

.social__link--fb:hover {
  color: var(--fb-color);
}

.social__link--yt:hover {
  color: var(--yt-color);
}
