.gallerySection {
  clear: both;
  padding: 15px;
  position: relative;
  overflow: hidden;
  margin: 15px 0;

  &:hover {
    picture::before {
      opacity: 0.5;
    }

    picture::after {
      opacity: 1;
    }
  }

  picture {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      height: 300px;
      width: 100%;
      padding: 15px;
      background-color: black;
      position: absolute;
      opacity: 0;
      transition: all 0.3s ease;
      border-radius: 8px;

      &:hover {
        opacity: 0;
      }
    }

    &::after {
      content: "";
      background-image: url(../../img/onclick-icon.svg);
      position: absolute;
      height: 50px;
      width: 50px;
      left: 45%;
      bottom: 650%;
      transform: translate(50%, 50%);
      background-size: contain;
      opacity: 0;
      transition: all 0.35s ease;
    }

    img {
      border-radius: 8px;
    }
  }

  &__preview {
    height: 300px;
    width: 100%;
  }
}
