.main {
		&__articles {
      width: 100%;
      margin-top: 50px;

      h2 {
        text-align: center;
        margin-top: 30px;
      }

      &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        justify-items: center;
        margin: 60px 0;

        .articleCard {
          flex-direction: column;
          height: auto;

          &__header {
            padding-top: 0;
          }

          &__title {
            font-size: 28px;
            margin-top: 0;
          }

          img {
            max-height: 250px;
          }
        }
      }
		}

    &__videos {
      h2 {
        text-align: center;
        margin-top: 30px;
      }
    }

    .mainArticlesSwiper {
      margin: 60px 0;
      // overflow: visible;
    }
}

.swiper .swiper-slide {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  padding-bottom: 20px;
}

.swiper {
  width: 100%;
  max-width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper.mainArticlesSwiper {
  overflow: visible;
}

.main__videos {
  padding-bottom: 60px;
}

.swiper-pagination {
  display: none;
}

@include small-tablet {
  .swiper-pagination {
    display: block;
  }
}

.section {
  margin-top: 80px;
  @include small-tablet {
    margin-top: 40px;
  }
}

.section__title {
  position: relative;
  color: var(--main);
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    border-radius: 1px;
    background: var(--main);
  }
}

@include tablet {
  .main {
    &__articles-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include small-tablet {
  .main {
    &__articles-grid {
      grid-template-columns: repeat(1, 1fr);
    }

    .articleCard {
      &__header {
        padding-top: 15px;
      }
    }
  }
}
