.main {

		&__articles {
      width: 100%;
		}

		&__articles-container {
      margin: 60px 0;
      width: 100%;
		}
}

.swiper .swiper-slide {
  width: 100%;
}

.swiper {
  width: 100%;
  max-width: 100%;

}
