.videoSwiper {
  background-color: black;

  overflow: hidden;

  .swiper-wrapper {
    background-color: #000;
  }

  .swiper-slide {
    // width: 100%;
    // height: 300px;
  }
}

.video__slide {
  height: 250px;
  // background-image: url(../../img/video-bg.jpg);
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  lite-youtube {
      width: 100%;
      max-width: 335px;
      height: 75%;
  }

  &::after {
    content: '';
    // background-image: url(../img/video-bg.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100px;
    display: block;
    z-index: 3;
    left: -62px;
    top: 0;
  }
}
