<div class="articleCard">
  <!-- <picture>
    <source srcset="" type="image/webp">
    <img class="img" src="../img/img1.jpg" alt="img">
  </picture> -->
  @include('./gallery.html')
  <div class="articleCard__header">
    <h3 class="articleCard__title">Title</h3>
    <div class="articleCard__date"><i class="fa-solid fa-calendar-days"></i><span>20 dec 2023</span></div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, voluptatem?</p>
    <a class="articleCard__link" href="#" class="">Read more</a>
  </div>
</div>
