<div class="container">
  <div class="contacts layout-content content">
    <div class="contacts__form">
      <h3 class="h3-title">Get in touch</h3>
      <h2>Have a question? Contacts us!</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus
        minus, libero nihil reprehenderit architecto aliquam aspernatur
        voluptatem repellat temporibus. Assumenda qui enim autem eos illum.
      </p>
      <label for="name">Name:</label>
      <input class="default-input" type="text" id="name" placeholder="John"/>

      <label for="email">Email:</label>
      <input class="default-input" type="text" id="email" placeholder="example@mail.com"/>

      <label for="phone">Phone:</label>
      <input class="default-input" type="text" id="phone" placeholder="+380(00)-000-0000"/>

      <label for="message">Message:</label>
      <textarea
        class="default-input"
        id="message"
        name=""
        cols="30"
        rows="10"
        placeholder="Your message text"
      ></textarea>

      <div class="contacts__checkbox-container">
        <input class="contacts__checkbox" type="checkbox" id="subscribe" />
        <label class="contacts__checkbox-labe" for="subscribe">Subscribe to our newsletter</label>
      </div>
      <button class="default-btn">Submit</button>
    </div>
    <div class="contacts__map">
      <picture>
        <source srcset="" type="image/webp" />
        <img class="img" src="../img/img1.jpg" alt="img" />
      </picture>
    </div>
  </div>
</div>
