<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="gallery">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <!-- <div class="gallery__modal"> -->
        <span class="gallery__modal-close" onclick="closeModal(this)">X</span>
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide gallery__slide">
              <p class="swiper-slide-time gallery__slide-time">12.03</p>
              <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
              <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem
                iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
            </div>
            <div class="swiper-slide gallery__slide">
              <p class="swiper-slide-time gallery__slide-time">12.03</p>
              <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
              <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem
                iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
            </div>
            <div class="swiper-slide gallery__slide">
              <p class="swiper-slide-time gallery__slide-time">12.03</p>
              <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
              <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem
                iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
            </div>
            <div class="swiper-slide gallery__slide">
              <p class="swiper-slide-time gallery__slide-time">12.03</p>
              <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
              <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem
                iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
            </div>
            <div class="swiper-slide gallery__slide">
              <p class="swiper-slide-time gallery__slide-time">12.03</p>
              <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
              <p class="swiper-slide-text gallery__slide-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis error expedita officia a! Provident id ducimus, quas nobis atque praesentium minima dolorem
                iusto, officia commodi consequuntur quidem voluptates magni. Ab.</p>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col">
        <h3>Subscribe on us</h3>
        <ul class="list-reset social" >
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--fb"><i class="fa-brands fa-facebook"></i></a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--yt"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="footer__col">
        <a href="#" class="footer__link">Sitemap</a>
      </div>
      <div class="footer__text">
        © Copyright Teslamaran
      </div>
      <p class="developer">Develop by <a href="#" target="_blank" rel="noopener noreferrer">SeigerIT</a></p>
    </div>
  </div>
</footer>
