<div class="container">
  <div class="home layout-content">
    <aside class="aside">
        <div class="aside__content">
            <h3>Content</h3>
            <nav class="aside__nav">
                <ul class="aside__menu list-reset">
                </ul>
            </nav>
        </div>
    </aside>
    <div class="home__content content">
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat amet,
        a ab provident obcaecati non. Molestiae molestias magni cum fugiat!
        <a href="#">Lorem, ipsum.</a>
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis laboriosam placeat nobis! Distinctio ducimus voluptas magni ex? Voluptatum quo nostrum illum consequatur dolorem neque earum totam. Quisquam iure neque molestiae?</p>
      <picture>
        <source srcset="" type="image/webp">
        <img class="img float-img-right" src="../img/img1.jpg" alt="img">
      </picture>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolorum iure consectetur perspiciatis nemo expedita dolor fugit vel maxime velit excepturi autem suscipit ratione fugiat repellendus sapiente illo, eos dolorem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ullam. Ea neque iure soluta dolore placeat voluptas, veniam vel eveniet doloremque, consequatur delectus quae temporibus dolorem quod, dignissimos magni eum?</p>

      <h2>Lorem, ipsum.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta animi porro rerum sequi asperiores facilis possimus nostrum molestiae doloremque. Blanditiis.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ipsum.</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus laboriosam nam illo. Minus eos quam ea culpa ad dignissimos molestias itaque debitis ab sed optio impedit at, voluptatem eius commodi nihil dolore praesentium magnam? Vero, atque officiis impedit, et ut consequatur labore repudiandae quam maiores quod earum, minus dignissimos itaque!</p>
      <picture>
        <source srcset="" type="image/webp">
        <img class="img float-img-left" src="https://www.fram.nl/afbeeldingen/f39specs.gif" alt="img">
      </picture>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempore iste laborum alias illo voluptates accusantium. Possimus modi a sed et fuga corrupti alias unde. Doloribus nisi consequuntur molestiae! Esse ipsum qui suscipit vitae quaerat ipsa omnis vel, mollitia ut illo officia recusandae amet harum eligendi quas rem, tenetur consectetur minima molestiae quod! Accusamus officia non architecto eos error. Odio aspernatur perferendis harum repellat cum nihil deserunt laudantium quo. Reiciendis excepturi nulla consequatur eveniet culpa repellendus, voluptatem dolores dignissimos non, voluptate, eos soluta nesciunt facilis inventore quia quae delectus consequuntur incidunt magnam ipsa modi tenetur fugiat. Sapiente error voluptatibus doloremque?</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, consequatur exercitationem iure adipisci illo culpa? Dolor inventore pariatur ullam quisquam?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur inventore perspiciatis quos quod sint debitis unde cupiditate, odio rerum?</p>
      <h2>Lorem, ipsum dolor.</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit optio facere architecto ab quia aut deserunt modi itaque distinctio tempora!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nemo aliquid odit natus optio voluptatum?</li>
        <li>Lorem.</li>
        <li>Lorem.</li>
      </ul>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit optio facere architecto ab quia aut deserunt modi itaque distinctio tempora!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non nemo aliquid odit natus optio voluptatum?</li>
        <li>Lorem.</li>
        <li>Lorem.</li>
      </ol>

    </div>
  </div>
</div>
