<div class="latestVideos">
  <div class="latestVideos__pointers">
    
  </div>
  <div class="swiper videoSwiper">
    <div class="swiper-wrapper" style="color: black;">
      <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" data-title style="background-image: url(&quot;https://i.ytimg.com/vi_webp/ogfYd705cRs/sddefault.webp&quot;);"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
        <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
    </div>
    <div class="swiper-slide video__slide">
      <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
  </div>
  <div class="swiper-slide video__slide">
    <lite-youtube videoid="ogfYd705cRs" title="Keynote (Google I/O '18)"></lite-youtube>
</div>
    </div>
    <div class="swiper-scrollbar"></div>
</div>
</div>
