<div class="main container content">

  <section class="main__articles section">
    <h2 class="h1-title section__title">Latest articles</h2>
    <div class="swiper mainArticlesSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          @include('./articleCard.html')
        </div>
        <div class="swiper-slide">
          @include('./articleCard.html')
        </div>
        <div class="swiper-slide">
          @include('./articleCard.html')
        </div>
        <div class="swiper-slide">
          @include('./articleCard.html')
        </div>
        <div class="swiper-slide">
          @include('./articleCard.html')
        </div>
        <div class="swiper-slide">
          @include('./articleCard.html')
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <div class="main__videos">
    <h2>Latest videos</h2>
    <div class="main__videos-container">

    </div>
  </div>

</div>
