<div class="main__videos-container videoSection__container">
  <div class="videoSection">
    <div class="videoSection__pointers"></div>
    <div class="swiper videoSectionSwiper">
      <div class="swiper-wrapper" style="color: black">
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            data-title
            style="
              background-image: url('https://i.ytimg.com/vi_webp/ogfYd705cRs/sddefault.webp');
            "
          ></lite-youtube>
        </div>
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            title="Keynote (Google I/O '18)"
          ></lite-youtube>
        </div>
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            title="Keynote (Google I/O '18)"
          ></lite-youtube>
        </div>
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            title="Keynote (Google I/O '18)"
          ></lite-youtube>
        </div>
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            title="Keynote (Google I/O '18)"
          ></lite-youtube>
        </div>
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            title="Keynote (Google I/O '18)"
          ></lite-youtube>
        </div>
        <div class="swiper-slide video__slide">
          <lite-youtube
            videoid="ogfYd705cRs"
            title="Keynote (Google I/O '18)"
          ></lite-youtube>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
